.btn-add-new{
    border: none;
    font-size: 16px;
    position: relative;
    left: 297px;
    color: gray;
    font-weight: 500;
    background: none;
    cursor: pointer;
    width: 137px;
    height: 30px;
}

.btn-add-new::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid white;
    border-radius: 5px;
    width: 137px;
    height: 30px;
    opacity: 0;
    transform: scale(1.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
 }

 .btn-add-new:hover::before {
    opacity: 1;
    transform: scale(1);
}

.plus{
    font-size: 20px;
}

/* Estilos para pantallas pequeñas */
/* max = hasta*/
@media (max-width: 600px) {
    /*
      iPhone SE (375px de ancho).
      Samsung Galaxy S8 (360px de ancho).
    */
    .btn-add-new{
        font-size: 19px;
        left: 260px;
        width: 150px;
        height: 35px;
    }
  }
  
  /* Estilos para pantallas medianas */
  /* min = desde*/
  @media (min-width: 600px) and (max-width: 900px) {
    /*
      iPad Mini (768px en orientación vertical).
      iPhone 14 Pro Max (390px en modo horizontal).
    */
    .btn-add-new{
        font-size: 25px;
        left: 395px;
        width: 192px;
        height: 40px;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 900px) {
    /*
      iPad Pro 12.9" (1024px en modo horizontal).
      Laptops pequeñas (1366px de ancho típico).
    */
  }