.icon{
    height: 30px;
    width: 30px;
}

.icon-fill-grey{
    fill: gray;
}

.icon-fill-red{
    fill: red;
}

.padding-right-doing{
    padding-right: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

/* Estilos para pantallas pequeñas */
/* max = hasta*/
@media (max-width: 600px) {
    /*
      iPhone SE (375px de ancho).
      Samsung Galaxy S8 (360px de ancho).
    */
    
  }
  
 /* Estilos para pantallas medianas */
/* min = desde*/
@media (min-width: 600px) and (max-width: 900px) {
    /*
      iPad Mini (768px en orientación vertical).
      iPhone 14 Pro Max (390px en modo horizontal).
    */
    .icon{
      height: 40px;
      width: 40px;
    }
  }