.todo-list-add{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.check-icon-grey{
    fill: gray;
}

.delete-icon{
    fill: red;
}

.change-status-to-doing{
    padding-right: 10px;
}